# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key
gmaps.configure(api_key = g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
cities = pd.read_csv('cities.csv')
cities = cities[["City Name","Cloudiness","Country","Date","Temperature","Maximum Temperature","Latitude",
                 "Longitude","Humidity","Wind Speed"]]
cities.head()

,City Name,Cloudiness,Country,Date,Temperature,Maximum Temperature,Latitude,Longitude,Humidity,Wind Speed
0,Tiksi,11,RU,1583009600,-5.19,-5.19,71.69,128.87,87,8.34
1,Vao,100,NC,1583009601,80.20,80.20,-22.67,167.48,82,20.40
2,Ponta do Sol,75,PT,1583009602,62.56,66.20,32.67,-17.10,77,2.24
3,Atar,0,MR,1583009603,71.92,71.92,20.52,-13.05,8,6.93
4,Hithadhoo,75,MV,1583009604,82.24,82.24,-0.60,73.08,81,14.81

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
coordinates = cities[["Latitude","Longitude"]]

humidity = cities["Humidity"].astype(float)

In [4]:
locations = cities
world_coordinates = (40.4637,3.7492)
fig = gmaps.figure(center = world_coordinates, zoom_level = 1)

heat_layer = gmaps.heatmap_layer(coordinates, 
                                 weights = humidity, 
                                 dissipating = False,
                                 max_intensity = 100,
                                 point_radius = 1
                                 )
heat_layer.max_intensity = 30
heat_layer.point_radius = 2

fig.add_layer(heat_layer)


fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
ideal_cond = cities.loc[(cities["Maximum Temperature"] < 80) &
                             (cities["Maximum Temperature"] > 70) &
                             (cities["Wind Speed"] < 10) &
                             (cities["Cloudiness"] == 0 ), :].reset_index()

ideal_cond = ideal_cond[["City Name",
                         "Cloudiness",
                         "Country",
                         "Date",
                         "Temperature",
                         "Maximum Temperature",
                         "Latitude",
                         "Longitude",
                         "Humidity",
                         "Wind Speed"]]

ideal_cond
#Is there supposed to be that many results?

,City Name,Cloudiness,Country,Date,Temperature,Maximum Temperature,Latitude,Longitude,Humidity,Wind Speed
0,Atar,0,MR,1583009603,71.92,71.92,20.52,-13.05,8,6.93
1,Lebu,0,CL,1583009611,79.95,79.95,-37.62,-73.65,35,4.61
2,Necochea,0,AR,1583009625,73.99,73.99,-38.55,-58.74,69,1.99
3,Saint-Joseph,0,RE,1583009630,76.10,78.80,-21.37,55.62,83,5.82
4,Bonthe,0,SL,1583009654,78.48,78.48,7.53,-12.51,83,8.01
5,Araouane,0,ML,1583009663,75.58,75.58,18.90,-3.53,6,8.48
6,Taoudenni,0,ML,1583009669,75.52,75.52,22.68,-3.98,11,9.60
7,Hong Kong,0,HK,1583009638,69.06,71.01,22.29,114.16,83,3.36
8,Flinders,0,AU,1583009807,66.18,73.00,-34.58,150.86,100,7.76
9,Morondava,0,MG,1583009849,74.07,74.07,-20.28,44.28,78,3.15
10,Mēga,0,ET,1583009856,72.72,72.72,4.05,38.30,56,7.31
11,Keti Bandar,0,PK,1583009868,71.37,71.37,24.14,67.45,77,8.43
12,Saint-Pierre,0,RE,1583009877,76.08,78.80,-21.34,55.48,83,5.82
13,Makkah al Mukarramah,0,SA,1583009916,71.85,71.85,21.43,39.83,58,4.21
14,Salalah,0,OM,1583009976,75.20,75.20,17.02,54.09,57,4.70
15,Bilma,0,NE,1583010012,75.79,75.79,18.69,12.92,11,7.52
16,Ouadda,0,CF,1583010201,76.69,76.69,8.08,22.40,21,6.06
17,Valença,0,BR,1583010223,77.76,77.76,-13.37,-39.07,77,2.95

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
hotel_df = ideal_cond.dropna()
hotel_df

,City Name,Cloudiness,Country,Date,Temperature,Maximum Temperature,Latitude,Longitude,Humidity,Wind Speed
0,Atar,0,MR,1583009603,71.92,71.92,20.52,-13.05,8,6.93
1,Lebu,0,CL,1583009611,79.95,79.95,-37.62,-73.65,35,4.61
2,Necochea,0,AR,1583009625,73.99,73.99,-38.55,-58.74,69,1.99
3,Saint-Joseph,0,RE,1583009630,76.10,78.80,-21.37,55.62,83,5.82
4,Bonthe,0,SL,1583009654,78.48,78.48,7.53,-12.51,83,8.01
5,Araouane,0,ML,1583009663,75.58,75.58,18.90,-3.53,6,8.48
6,Taoudenni,0,ML,1583009669,75.52,75.52,22.68,-3.98,11,9.60
7,Hong Kong,0,HK,1583009638,69.06,71.01,22.29,114.16,83,3.36
8,Flinders,0,AU,1583009807,66.18,73.00,-34.58,150.86,100,7.76
9,Morondava,0,MG,1583009849,74.07,74.07,-20.28,44.28,78,3.15
10,Mēga,0,ET,1583009856,72.72,72.72,4.05,38.30,56,7.31
11,Keti Bandar,0,PK,1583009868,71.37,71.37,24.14,67.45,77,8.43
12,Saint-Pierre,0,RE,1583009877,76.08,78.80,-21.34,55.48,83,5.82
13,Makkah al Mukarramah,0,SA,1583009916,71.85,71.85,21.43,39.83,58,4.21
14,Salalah,0,OM,1583009976,75.20,75.20,17.02,54.09,57,4.70
15,Bilma,0,NE,1583010012,75.79,75.79,18.69,12.92,11,7.52
16,Ouadda,0,CF,1583010201,76.69,76.69,8.08,22.40,21,6.06
17,Valença,0,BR,1583010223,77.76,77.76,-13.37,-39.07,77,2.95

In [7]:
hotel_df["Hotel Name"] = ""
hotel_df

,City Name,Cloudiness,Country,Date,Temperature,Maximum Temperature,Latitude,Longitude,Humidity,Wind Speed,Hotel Name
0,Atar,0,MR,1583009603,71.92,71.92,20.52,-13.05,8,6.93,
1,Lebu,0,CL,1583009611,79.95,79.95,-37.62,-73.65,35,4.61,
2,Necochea,0,AR,1583009625,73.99,73.99,-38.55,-58.74,69,1.99,
3,Saint-Joseph,0,RE,1583009630,76.10,78.80,-21.37,55.62,83,5.82,
4,Bonthe,0,SL,1583009654,78.48,78.48,7.53,-12.51,83,8.01,
5,Araouane,0,ML,1583009663,75.58,75.58,18.90,-3.53,6,8.48,
6,Taoudenni,0,ML,1583009669,75.52,75.52,22.68,-3.98,11,9.60,
7,Hong Kong,0,HK,1583009638,69.06,71.01,22.29,114.16,83,3.36,
8,Flinders,0,AU,1583009807,66.18,73.00,-34.58,150.86,100,7.76,
9,Morondava,0,MG,1583009849,74.07,74.07,-20.28,44.28,78,3.15,
10,Mēga,0,ET,1583009856,72.72,72.72,4.05,38.30,56,7.31,
11,Keti Bandar,0,PK,1583009868,71.37,71.37,24.14,67.45,77,8.43,
12,Saint-Pierre,0,RE,1583009877,76.08,78.80,-21.34,55.48,83,5.82,
13,Makkah al Mukarramah,0,SA,1583009916,71.85,71.85,21.43,39.83,58,4.21,
14,Salalah,0,OM,1583009976,75.20,75.20,17.02,54.09,57,4.70,
15,Bilma,0,NE,1583010012,75.79,75.79,18.69,12.92,11,7.52,
16,Ouadda,0,CF,1583010201,76.69,76.69,8.08,22.40,21,6.06,
17,Valença,0,BR,1583010223,77.76,77.76,-13.37,-39.07,77,2.95,

In [8]:
params = {"keyword": "Hotel",
              "radius": 5000,
              "key": g_key}

for index, row in hotel_df.iterrows():
    Latitude = row["Latitude"]
    Longitude = row["Longitude"]
    print(Latitude,Longitude)
    params["location"] = f"{Latitude},{Longitude}"
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    hotel_request = requests.get(base_url, params = params)
    
    hotel_request = hotel_request.json()
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotel_request["results"][0]["name"]
        
    except (KeyError, IndexError):
        print("Result Not Found.")
        
hotel_df

20.52 -13.05
-37.62 -73.65
-38.55 -58.74
-21.37 55.62
7.53 -12.51
18.9 -3.53
Result Not Found.
22.68 -3.98
Result Not Found.
22.29 114.16
-34.58 150.86
-20.28 44.28
4.05 38.3
24.14 67.45
Result Not Found.
-21.34 55.48
21.43 39.83
17.02 54.09
18.69 12.92
Result Not Found.
8.08 22.4
Result Not Found.
-13.37 -39.07

,City Name,Cloudiness,Country,Date,Temperature,Maximum Temperature,Latitude,Longitude,Humidity,Wind Speed,Hotel Name
0,Atar,0,MR,1583009603,71.92,71.92,20.52,-13.05,8,6.93,Odar kanawal
1,Lebu,0,CL,1583009611,79.95,79.95,-37.62,-73.65,35,4.61,Hotel Plaza Lebu
2,Necochea,0,AR,1583009625,73.99,73.99,-38.55,-58.74,69,1.99,Hotel Real
3,Saint-Joseph,0,RE,1583009630,76.10,78.80,-21.37,55.62,83,5.82,Les Lodges Vanilliers
4,Bonthe,0,SL,1583009654,78.48,78.48,7.53,-12.51,83,8.01,Bonthe Holiday Village
5,Araouane,0,ML,1583009663,75.58,75.58,18.90,-3.53,6,8.48,
6,Taoudenni,0,ML,1583009669,75.52,75.52,22.68,-3.98,11,9.60,
7,Hong Kong,0,HK,1583009638,69.06,71.01,22.29,114.16,83,3.36,Park Hotel Hong Kong
8,Flinders,0,AU,1583009807,66.18,73.00,-34.58,150.86,100,7.76,Little Lake Apartment A & B
9,Morondava,0,MG,1583009849,74.07,74.07,-20.28,44.28,78,3.15,Kimony Resort Hotel
10,Mēga,0,ET,1583009856,72.72,72.72,4.05,38.30,56,7.31,Mega Beteseb Hotel
11,Keti Bandar,0,PK,1583009868,71.37,71.37,24.14,67.45,77,8.43,
12,Saint-Pierre,0,RE,1583009877,76.08,78.80,-21.34,55.48,83,5.82,Le Battant Des Lames
13,Makkah al Mukarramah,0,SA,1583009916,71.85,71.85,21.43,39.83,58,4.21,فندق ترست سكاي TRUST SKY HOTEL
14,Salalah,0,OM,1583009976,75.20,75.20,17.02,54.09,57,4.70,Salalah Gardens Hotel
15,Bilma,0,NE,1583010012,75.79,75.79,18.69,12.92,11,7.52,
16,Ouadda,0,CF,1583010201,76.69,76.69,8.08,22.40,21,6.06,
17,Valença,0,BR,1583010223,77.76,77.76,-13.37,-39.07,77,2.95,Hotel Portal Rio Una

In [9]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City Name}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

# Add marker layer ontop of heat map


# Display Map

In [10]:
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))